<div class = "container">
	<div class = "p-5">
		<div class = "card">
			<div class= "card-body">
				<h5 class="card-title">Enter a URL to shortene</h5>
				<%= form_with model: @link, remote: true do |form| %>
					<%= form.text_field :original_url , class: "form-control" , placeholder: "Enter the url here"%>
					<%= form.submit "Shorten" , class: "btn btn-primary mt-2 mb-2"%>
				<% end %>

				<div id = "short-link">
				</div>
			</div>	
		</div>	
	</div>	
</div>




